<p>#{{courseName}} page #</p>

<button (click)= "getCoursesClicked()">Get courses</button>
<button (click)= "clearCoursesClicked()">clear courses</button>

<h3>courses</h3>
<table>
  <thead>
    <tr>
      <th>Course name</th>
    </tr>
  </thead>
  <tbody>
        <tr *ngFor = "let course of courses">d {{course}}</tr>
  </tbody>
</table>


