<hello class name="{{ name }}"></hello>
<!-- <p *ngFor="let element of arr; let i = index">
  <span ngClass="{{i%2 === 0 ? 'green': 'yellow'}}" *ngIf="element.indexOf('z') !== -1"> {{element}} </span>
</p> -->

<input type="text"   [(ngModel)] = "myvar" />

<course-tag courseName="{{myvar}}"></course-tag>
<app-login ></app-login>
